<div class="container home-page">

  <% @image.each do |image| %>
      <div class="col-md-8 col-md-offset-2 story-wrapper">
        <div class="uploader-info">
          <a href="#uploader-profile" class="profile-pic">
            <div class="profile-pic-img" style="background-image: url(//imghtlak.mmtcdn.com/blog/sites/default/files/styles/47x47/public/pictures/picture-155481-1480931403.png);"></div>
          </a>
          <div class="left">
            <a href="#uploader-profile" class="name"><%= truncate(image.user.email, length: 30) %></a>
            <p class="date-upload"><%= image.created_at %></p>
          </div>
          <!--<div class="right"><%= distance_of_time_in_words_to_now(image.created_at) %></div>-->
        </div>
        <%= link_to image do %>
            <div class="story-cover" style="background-image: url(<%= image.file %>);">
            </div>
        <% end %>
        <div class="story-title">
          <%= truncate image.title, length: 30 %>
        </div>
      </div>
  <% end %>

</div>