<% unless current_user %>
    <div class="container landing-page">
      <div class="hero-image">
        <div class="header">
          <div class="brandname">
            <%= link_to "TRIPBOOK", root_path %>
          </div>
          <div class="authen-buttons">
            <%= link_to new_user_session_path, :class => "sign-in-btn btn" do %>
                <%= t 'auth.login' %>
            <% end %>
            <%= link_to new_user_registration_path, :class => "sign-up-btn btn" do %>
                <%= t 'auth.register' %>
            <% end %>
          </div>
        </div>
        <div class="hero-text">
          <h1>TripBookに接続する</h1>
          <p>世界各地からの旅行情報を発見して共有しましょう。</p>
          <%= link_to new_user_registration_path, :class => "btn" do %>
              サインアップ
          <% end %>
        </div>
      </div>

      <div class="search-upload row">
        <div class="col-md-6 col-md-offset-1 search-wrapper">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="<%= t 'header.search-placeholder' %>">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </div>
          </div>
        </div>
        <p class="col-md-1 hidden-xs text-or">または</p>
        <div class="col-md-2">
          <%= link_to new_user_session_path, :class => "upload-btn btn" do %>
              自身のアップロード
          <% end %>
        </div>
      </div>

      <!-- start trending for guest -->
      <div class="trending-for-guest row">
        <p class="title">ここでは、TripBookコミュニティからのトレンドのストーリーです。</p>

        <!-- start story block -->
        <% @trendings.each do |story| %>
          <%= render partial: 'stories/story_square', locals: {story: story} %>
        <% end %>
        <!-- end story block -->

        <div class="row text-center">
          <%= link_to new_user_session_path, :class => "btn trending-btn" do %>
              <%= t 'landing.explore' %>
          <% end %>
        </div>

      </div>
      <!-- end trending for guest -->

      <!-- start map -->
      <!-- <section>
        <div class="map-wrapper" style="height: 360px; border: 1px solid #000 ">
          <div class="map">
            <h1 class="text-center"><%= t 'landing.map' %></h1>
          </div>
        </div>
      </section> -->
      <!-- end map -->

      <section class="place">
        <div class="row">
          <h2 class="text-center">トップ場所</h2>
        </div>
        <br>
        <div class="row trending-for-guest">
          <% Place.top(2).each do |place| %>
            <div class="col-sm-6 place-item">
              <div class="make-color-wrapper place-img" style="background-image: url(<%= place.thumbnail %>); height: 320px;">
                <a class="place-name small-headline" style="color: #fff; font-size: 20px; text-shadow: 1px 1px 4px black;" href="<%= place_path(place) %>"><%= place.name %></a>
              </div>
            </div>
          <% end %>
        </div>
        <div class="row trending-for-guest">
          <% if Place.top(5).count >= 5 %>
            <% Place.top(5)[2..4].each do |place| %>
              <div class="col-sm-4 place-item">
                <div class="make-color-wrapper place-img" style="background-image: url(<%= place.thumbnail %>); height: 320px;">
                  <a class="place-name" style="color: #fff; font-size: 20px; text-shadow: 1px 1px 4px black;" href="<%= place_path(place) %>"><%= place.name %></a>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </section>

    </div>
<% end %>
