<div class="story-wrapper">
  <div class="uploader-info">
    <a href="#uploader-profile" class="profile-pic">
      <div class="profile-pic-img" style="background-image: url(//imghtlak.mmtcdn.com/blog/sites/default/files/styles/47x47/public/pictures/picture-155481-1480931403.png);"></div>
    </a>
    <div class="left">
      <a href="#uploader-profile" class="name"><%= truncate(story.user.email, length: 30) %></a>
    </div>
    <div class="right" id="parent">
      <span class="date-upload" id="hover-content"><%= story.created_at %></span>
      <%= distance_of_time_in_words_to_now(story.created_at) %>
    </div>
  </div>
  <div class="large-headline">
    <%= truncate story.title, length: 50 %>
  </div>
  <%= link_to story_path(story) do %>
      <div class="story-cover" style="background-image: url(<%= story.featured %>);">
      </div>
  <% end %>

  <%= link_to story_path(story) do %>
      <p class="read-more caption">
        <%= story.oldest_card.caption if story.oldest_card.present? &&
        story.oldest_card.caption.present? %>...
      </p>
  <% end %>

  <div class="story-action">
    <div class="like-count">
      <span class="glyphicon glyphicon-heart-empty like-btn" aria-hidden="true"></span>
      <span class="like-text"> 2037 <%# t('home.like') %></span>
    </div>
    <% if story.trending %>
        <div class="trending">
          <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
          <span class="trending-text"> <%= t('home.trending') %></span>
        </div>
    <% end %>
    <div class="comment-count">
      <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
      <span class="comment-text"> 31 <%# t('home.response') %></span>
    </div>
  </div>
</div>
