<div class="col-sm-6 story-item">
  <div class="story-wrapper" style="background-image: url(<%= story.featured %>);">
    <%= link_to "", story_path(story), class: 'story-detail-link' %>
    <div class="uploader-area">
      <a href="#uploader-profile">
        <div class="uploader-wrapper">
          <div class="profile-pic" style="background-image: url(<%= story.user.avatar || "//imghtlak.mmtcdn.com/blog/sites/default/files/styles/47x47/public/pictures/picture-155481-1480931403.png" %>);"></div>
          <p class="name"><%= story.user.name || story.user.email %></p>
        </div>
      </a>
    </div>
    <p class="story-title"><%= truncate story.title, length: 30 %></p>
    <div class="story-stat">
      <div class="like-count">
        <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
        <%= story.lovers_count %>
      </div>
      <div class="views-count">
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
        <%= story.unique_impression_count %>
      </div>
    </div>
  </div>
</div>

<style>
.story-item {
  margin-bottom: 30px;
}

.story-wrapper {
  height: 320px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.25);
  transition: all 0.3s ease;
  padding: 0 15px;
  position: relative;

  .uploader-area {
    z-index: 2;
    position: absolute;
    top: 0;
    display: block;
    width: calc(100% - 30px);

    .uploader-wrapper {
      border-left: 3px solid orange;
      padding-left: 10px;
      margin: 20px 0px 10px;
      height: 30px;
    }

    .profile-pic {
      height: 47px;
      width: 47px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: inline-block;
      margin-top: -10px;
    }

    .name {
      display: inline-block;
      line-height: 47px;
      vertical-align: top;
      margin-top: -10px;
      margin-left: 10px;
      color: white;
      text-shadow: 1px 1px 4px black;
    }
  }

  .story-detail-link {
    display: block;
    height: 320px;
    z-index: 1;
    width: 100%;
    left: 0;
  }

  .story-title {
    position: absolute;
    bottom: 30px;
    font-size: 22px;
    color: #fff;
    line-height: 28px;
    text-shadow: 1px 1px 4px black;
  }

  .story-stat {
    position: absolute;
    bottom: 5px;
    display: block;
    width: calc(100% - 30px);
    text-align: right;
    font-size: 15px;

    .like-count {
      color: #f50;
      text-shadow: 1px 1px 5px black;
      margin-right: 10px;
    }

    .comment-count {
      color: orange;
      text-shadow: 1px 1px 5px black;
    }
    .views-count {
      color: #fff;
      text-shadow: 1px 1px 5px black;
    }
  }

  .story-stat > div {
    display: inline-block;
  }
}

.story-wrapper:hover {
  box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
}

.title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
  color: #333;
}

.trending-btn {
  background-color: #f50;
  border-color: #f50;
  color: white;
}
</style>
