<div class="container image-show-page" style="padding: 0">
  <!-- start slideshow container -->
  <div class="col-md-12 slideshow-container">
    <!-- start featured -->
    <div class="mySlides fade-animation"
         style="position: absolute;
             left: 0;
             height: 100vh;
             width: 100%;">
      <div class="image-featured"
           style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(<%= @story.featured if @story.featured.present? %>);
               width:100%">
        <div class="headline-wrapper">
          <div class="large-headline"><%= @story.title %></div>
          <div class="small-headline"><%= @story.place.name %></div>
          <div class="story-wrapper">
            <div class="story-action">
              <!-- <div class="like-count">
                <span class="glyphicon glyphicon-heart-empty like-btn" aria-hidden="true"></span>
                <span class="like-text"> <%= @story.liked_by_count %> <%# t('home.like') %></span>
              </div> -->
              <a href="javascript:history.back()">Back</a>
              <%= render "shared/loves/stats" %>
              <% if @story.trending %>
                  <div class="trending">
                    <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
                    <span class="trending-text"> <%= t('home.trending') %></span>
                  </div>
              <% end %>
              <div class="comment-count">
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                <span class="comment-text"> <%= @story.story_comments.count %> <%# t('home.response') %></span>
              </div>
              <%= render partial: "shared/views/views_count", locals: {story: @story} %>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- end featured -->

    <!-- start cards -->
    <% timeline = @story.timeline %>
    <% cards_count = timeline.size %>
    <% @story.timeline.each_with_index do |card, index| %>
        <div class="mySlides fade-animation card-container">
          <div class="numbertext"><%= index + 1 %> / <%= cards_count %></div>
          <%= image_tag card.photo, class: "#{'image-blank' if card.photo.empty?}" %>
          <% if card.caption.present? %>
              <div class="text caption <%= "just-caption" if card.photo.empty? %>"><%= card.caption %></div>
          <% end %>
        </div>
    <% end %>
    <!-- end cards -->

    <!-- start recommendations -->
    <div class="mySlides fade-animation"
         style="position: absolute;
             left: 0;
             height: 100vh;
             width: 100%;">
       <div class="image-featured"
            style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
                width:100%">
         <div class="headline-wrapper recommendations-wrapper">
           <div class="large-headline">
             以上です
           </div>
           <% if user_signed_in? %>
             <!-- start recommended_stories -->
             <div class="row">
               <div class="col-sm-3">
                 <h4 class="small-headline">推薦されたストーリー</h4>
               </div>
               <% current_user.recommended_stories(4).each do |story| %>
                 <%= render partial: "stories/story_thumbnail", locals: {story: story, col_width: 3} %>
               <% end %>
             </div>
             <!-- end recommended_stories -->

              <!-- recommended_places            -->
              <div class="row">
                <div class="col-sm-3">
                  <h4 class="small-headline">推薦された場所</h4>
                </div>
                <% current_user.recommended_places(4).each do |place| %>
                  <%= render partial: "places/place_thumbnail", locals: {place: place, col_width: 3} %>
                <% end %>
              </div>
              <!-- recommended_places -->

              <!-- recommended_users            -->
              <div class="row">
                <div class="col-sm-3">
                  <h4 class="small-headline">推薦されたウーザー</h4>
                </div>
                <% current_user.recommended_users(4).each do |user| %>
                  <%= render partial: "users/user_thumbnail", locals: {user: user, col_width: 3} %>
                <% end %>
              </div>
              <!-- recommended_users -->
           <% end %>
         </div>
       </div>
    </div>

    <!-- end recommendations -->


    <a class="prev slideshow-prev">&#10094;</a>
    <a class="next slideshow-next">&#10095;</a>
    <a class="toggle-info">
      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    </a>
    <br>
    <div style="text-align:center" style="display: none">
      <% (cards_count + 1).times do |i| %>
          <span class="dot slideshow-current" data-index="<%= i + 1 %>"></span>
      <% end %>
    </div>
  </div>
  <!-- end slideshow container -->

  <!-- start comment container (right part) -->
  <div class="hidden comment-container story-wrapper">
    <!-- start uploader info -->
    <div class="uploader-info">
      <%= link_to user_path(id: @story.user_id), :class => "profile-pic" do %>
          <div class="profile-pic-img" style="background-image: url(<%= @story.user.avatar || "//imghtlak.mmtcdn.com/blog/sites/default/files/styles/47x47/public/pictures/picture-155481-1480931403.png" %>);"></div>
      <% end %>
      </a>
      <div class="left">
        <%= link_to user_path(id: @story.user_id), :class => "name" do %>
            <%= truncate(@story.user.name || @story.user.email, length: 30) %>
        <% end %>

        <p class="date-upload" id="hover-content"><%= distance_of_time_in_words_to_now(@story.created_at) %></p>
      </div>
      <% if authorize_user?(@story, current_user) %>
          <div class="right">
            <div class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span class="caret"></span></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li>
                  <%= link_to t("stories.show.edit"), edit_story_path(@story) %>
                </li>
                <li><%= link_to t("stories.show.delete"), @story, method: :delete, data: {confirm: 'Are you sure?'} %></li>
              </ul>
            </div>
          </div>
      <% end %>
    </div>
    <p class="large-headline"><%= @story.title %></p>

    <!-- end uploader info -->

    <!-- start comment wrapper -->
    <div class="comment-wrapper fade-animation fade-out-animation">
      <!-- start comment form -->
      <div class="comment-form">
        <!-- <div class="avatar">-->
        <!--<div class="profile-pic-img" style="background-image: url(//imghtlak.mmtcdn.com/blog/sites/default/files/styles/47x47/public/pictures/picture-155481-1480931403.png);"></div>-->
        <!--</div> -->
        <% if current_user %>
            <div class="comment-input">
              <%= form_for(@story_comment) do |f| %>
                  <div>
                    <%= f.text_field :comment, :class => "form-control", :placeholder => "Write a comment" %>
                    <%= f.hidden_field :story_id, :value => @story.id %>
                    <!--<div class="input-group-btn">-->
                    <%# f.submit "Send comment", :class => "btn btn-default" do %>
                    <!--<i class="glyphicon glyphicon-search"></i>-->
                    <%# end %>
                    <!--</div>-->
                  </div>
              <% end %>
            </div>
        <% end %>
      </div>
      <!-- end comment form -->

      <!-- start comment show all -->
      <div class="comment-show-all">
        <% if @story.story_comments.count>0 %>
            <div class="comment-count">
              <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
              <%= @story.story_comments.count.to_s + " " + t("stories.show.comment") %>
            </div>
        <% end %>
        <div>
          <% @story.story_comments.each do |story_comment| %>
              <div class="comment-item">
                <p class="username-comment"><%= story_comment.user.name || story_comment.user.email %>
                  <span class="comment-content"><%= story_comment.comment %></span>
                </p>
              </div>
          <% end %>
        </div>
      </div>
      <!-- end comment show all -->
    </div>
    <!-- end comment wrapper -->
  </div>
  <!-- end comment container (right part) -->
</div>
