<%= form_for(@image, {multipart: true}) do |f| %>
    <% if image.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

          <ul>
            <% image.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="col-md-offset-1 col-md-10">
      <div class="image-preview">
        <div class="no-image"></div>
        <img class="picked-image" id="image"/>
      </div>

      <div class="row text-center">
        <%= f.file_field :file, :class => "pick-img-btn", :id => "files"%>
      </div>

      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, :class => "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Submit", :class => "btn submit-btn" %>
        <%= link_to 'Back', images_path, :class => "btn back-btn" %>
      </div>

    </div>


<% end %>
