<div class="containerx">
  <div class="col-md-8 user-page-tabs">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="pill" href="#lastest">Lastest</a></li>
      <li><a data-toggle="pill" href="#hotest">Hotest</a></li>
    </ul>

    <div class="tab-content">
      <div id="lastest" class="tab-pane fade in active">
        <% @lastest.each do |story| %>
          <%= render partial: "stories/story", locals: {story: story} %>
        <% end %>
      </div>
      <div id="hotest" class="tab-pane fade">
        <% @hostest.each do |story| %>
          <%= render partial: "stories/story", locals: {story: story} %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-md-4 user-page-stats">
    <h3><%= @place.name %></h3>
    <%= render "shared/followables/stats" %>
    <h4>Best photos of <%= @place.name %></h4>
    <div class="row">
      BEST PHOTOS
    </div>
  </div>
</div>
